*{
  padding: 0%;
  box-sizing: border-box;
} 

.banner {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  background-color:#152b90;
  background-image: linear-gradient(135deg, #152b90 0%,#152b90 100%);
}


.text-title{
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
} 

.linklobby {
  display: flex;
  justify-content: center;
  background-color: #152b90;
  background-image: linear-gradient(135deg, #152b90 0%,#152b90 100%);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.linklobby a {
  margin: 1px;
  padding: 14px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color:#ffffff;
} 

.banner img {

  position: absolute;
  max-width:64%;
  top: 15.9%;
  left: 0%;
  font-size: 19px;
  background: url(Banner.js);
  background-repeat: no-repeat;
  background-size: 100%;
}

.text-t{
  position: absolute;
  max-width:50%;
  top: 19%;
  left: 67%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #152b90;
}







